<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>uni0401</key>
    <string>uni0401.glif</string>
    <key>uni0402</key>
    <string>uni0402.glif</string>
    <key>uni0403</key>
    <string>uni0403.glif</string>
    <key>uni0404</key>
    <string>uni0404.glif</string>
    <key>uni0405</key>
    <string>uni0405.glif</string>
    <key>uni0406</key>
    <string>uni0406.glif</string>
    <key>uni0407</key>
    <string>uni0407.glif</string>
    <key>uni0408</key>
    <string>uni0408.glif</string>
    <key>uni0409</key>
    <string>uni0409.glif</string>
    <key>uni040A</key>
    <string>uni040A_.glif</string>
    <key>uni040B</key>
    <string>uni040B_.glif</string>
    <key>uni040C</key>
    <string>uni040C_.glif</string>
    <key>uni00AD</key>
    <string>uni00A_D_.glif</string>
    <key>uni040E</key>
    <string>uni040E_.glif</string>
    <key>uni040F</key>
    <string>uni040F_.glif</string>
    <key>uni0410</key>
    <string>uni0410.glif</string>
    <key>uni0411</key>
    <string>uni0411.glif</string>
    <key>uni0412</key>
    <string>uni0412.glif</string>
    <key>uni0413</key>
    <string>uni0413.glif</string>
    <key>uni0414</key>
    <string>uni0414.glif</string>
    <key>uni0415</key>
    <string>uni0415.glif</string>
    <key>uni0416</key>
    <string>uni0416.glif</string>
    <key>uni0417</key>
    <string>uni0417.glif</string>
    <key>uni0418</key>
    <string>uni0418.glif</string>
    <key>uni0419</key>
    <string>uni0419.glif</string>
    <key>uni041A</key>
    <string>uni041A_.glif</string>
    <key>uni041B</key>
    <string>uni041B_.glif</string>
    <key>uni041C</key>
    <string>uni041C_.glif</string>
    <key>uni041D</key>
    <string>uni041D_.glif</string>
    <key>uni041E</key>
    <string>uni041E_.glif</string>
    <key>uni041F</key>
    <string>uni041F_.glif</string>
    <key>uni0420</key>
    <string>uni0420.glif</string>
    <key>uni0421</key>
    <string>uni0421.glif</string>
    <key>uni0422</key>
    <string>uni0422.glif</string>
    <key>uni0423</key>
    <string>uni0423.glif</string>
    <key>uni0424</key>
    <string>uni0424.glif</string>
    <key>uni0425</key>
    <string>uni0425.glif</string>
    <key>uni0426</key>
    <string>uni0426.glif</string>
    <key>uni0427</key>
    <string>uni0427.glif</string>
    <key>uni0428</key>
    <string>uni0428.glif</string>
    <key>uni0429</key>
    <string>uni0429.glif</string>
    <key>uni042A</key>
    <string>uni042A_.glif</string>
    <key>uni042B</key>
    <string>uni042B_.glif</string>
    <key>uni042C</key>
    <string>uni042C_.glif</string>
    <key>uni042D</key>
    <string>uni042D_.glif</string>
    <key>uni042E</key>
    <string>uni042E_.glif</string>
    <key>uni042F</key>
    <string>uni042F_.glif</string>
    <key>uni0430</key>
    <string>uni0430.glif</string>
    <key>uni0431</key>
    <string>uni0431.glif</string>
    <key>uni0432</key>
    <string>uni0432.glif</string>
    <key>uni0433</key>
    <string>uni0433.glif</string>
    <key>uni0434</key>
    <string>uni0434.glif</string>
    <key>uni0435</key>
    <string>uni0435.glif</string>
    <key>uni0436</key>
    <string>uni0436.glif</string>
    <key>uni0437</key>
    <string>uni0437.glif</string>
    <key>uni0438</key>
    <string>uni0438.glif</string>
    <key>uni0439</key>
    <string>uni0439.glif</string>
    <key>uni043A</key>
    <string>uni043A_.glif</string>
    <key>uni043B</key>
    <string>uni043B_.glif</string>
    <key>uni043C</key>
    <string>uni043C_.glif</string>
    <key>uni043D</key>
    <string>uni043D_.glif</string>
    <key>uni043E</key>
    <string>uni043E_.glif</string>
    <key>uni043F</key>
    <string>uni043F_.glif</string>
    <key>uni0440</key>
    <string>uni0440.glif</string>
    <key>uni0441</key>
    <string>uni0441.glif</string>
    <key>uni0442</key>
    <string>uni0442.glif</string>
    <key>uni0443</key>
    <string>uni0443.glif</string>
    <key>uni0444</key>
    <string>uni0444.glif</string>
    <key>uni0445</key>
    <string>uni0445.glif</string>
    <key>uni0446</key>
    <string>uni0446.glif</string>
    <key>uni0447</key>
    <string>uni0447.glif</string>
    <key>uni0448</key>
    <string>uni0448.glif</string>
    <key>uni0449</key>
    <string>uni0449.glif</string>
    <key>uni044A</key>
    <string>uni044A_.glif</string>
    <key>uni044B</key>
    <string>uni044B_.glif</string>
    <key>uni044C</key>
    <string>uni044C_.glif</string>
    <key>uni044D</key>
    <string>uni044D_.glif</string>
    <key>uni044E</key>
    <string>uni044E_.glif</string>
    <key>uni044F</key>
    <string>uni044F_.glif</string>
    <key>uni2116</key>
    <string>uni2116.glif</string>
    <key>uni0451</key>
    <string>uni0451.glif</string>
    <key>uni0452</key>
    <string>uni0452.glif</string>
    <key>uni0453</key>
    <string>uni0453.glif</string>
    <key>uni0454</key>
    <string>uni0454.glif</string>
    <key>uni0455</key>
    <string>uni0455.glif</string>
    <key>uni0456</key>
    <string>uni0456.glif</string>
    <key>uni0457</key>
    <string>uni0457.glif</string>
    <key>uni0458</key>
    <string>uni0458.glif</string>
    <key>uni0459</key>
    <string>uni0459.glif</string>
    <key>uni045A</key>
    <string>uni045A_.glif</string>
    <key>uni045B</key>
    <string>uni045B_.glif</string>
    <key>uni045C</key>
    <string>uni045C_.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>uni045E</key>
    <string>uni045E_.glif</string>
    <key>uni045F</key>
    <string>uni045F_.glif</string>
    <key>exclamdown</key>
    <string>exclamdown.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>currency</key>
    <string>currency.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
    <key>brokenbar</key>
    <string>brokenbar.glif</string>
    <key>dieresis</key>
    <string>dieresis.glif</string>
    <key>copyright</key>
    <string>copyright.glif</string>
    <key>ordfeminine</key>
    <string>ordfeminine.glif</string>
    <key>guillemotleft</key>
    <string>guillemotleft.glif</string>
    <key>logicalnot</key>
    <string>logicalnot.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>macron</key>
    <string>macron.glif</string>
    <key>degree</key>
    <string>degree.glif</string>
    <key>plusminus</key>
    <string>plusminus.glif</string>
    <key>uni00B2</key>
    <string>uni00B_2.glif</string>
    <key>uni00B3</key>
    <string>uni00B_3.glif</string>
    <key>acute</key>
    <string>acute.glif</string>
    <key>mu</key>
    <string>mu.glif</string>
    <key>paragraph</key>
    <string>paragraph.glif</string>
    <key>periodcentered</key>
    <string>periodcentered.glif</string>
    <key>cedilla</key>
    <string>cedilla.glif</string>
    <key>uni00B9</key>
    <string>uni00B_9.glif</string>
    <key>ordmasculine</key>
    <string>ordmasculine.glif</string>
    <key>guillemotright</key>
    <string>guillemotright.glif</string>
    <key>onequarter</key>
    <string>onequarter.glif</string>
    <key>onehalf</key>
    <string>onehalf.glif</string>
    <key>threequarters</key>
    <string>threequarters.glif</string>
    <key>questiondown</key>
    <string>questiondown.glif</string>
    <key>Agrave</key>
    <string>A_grave.glif</string>
    <key>Aacute</key>
    <string>A_acute.glif</string>
    <key>Acircumflex</key>
    <string>A_circumflex.glif</string>
    <key>Atilde</key>
    <string>A_tilde.glif</string>
    <key>Adieresis</key>
    <string>A_dieresis.glif</string>
    <key>Aring</key>
    <string>A_ring.glif</string>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>Ccedilla</key>
    <string>C_cedilla.glif</string>
    <key>Egrave</key>
    <string>E_grave.glif</string>
    <key>Eacute</key>
    <string>E_acute.glif</string>
    <key>Ecircumflex</key>
    <string>E_circumflex.glif</string>
    <key>Edieresis</key>
    <string>E_dieresis.glif</string>
    <key>Igrave</key>
    <string>I_grave.glif</string>
    <key>Iacute</key>
    <string>I_acute.glif</string>
    <key>Icircumflex</key>
    <string>I_circumflex.glif</string>
    <key>Idieresis</key>
    <string>I_dieresis.glif</string>
    <key>Eth</key>
    <string>E_th.glif</string>
    <key>Ntilde</key>
    <string>N_tilde.glif</string>
    <key>Ograve</key>
    <string>O_grave.glif</string>
    <key>Oacute</key>
    <string>O_acute.glif</string>
    <key>Ocircumflex</key>
    <string>O_circumflex.glif</string>
    <key>Otilde</key>
    <string>O_tilde.glif</string>
    <key>Odieresis</key>
    <string>O_dieresis.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>Ugrave</key>
    <string>U_grave.glif</string>
    <key>Uacute</key>
    <string>U_acute.glif</string>
    <key>Ucircumflex</key>
    <string>U_circumflex.glif</string>
    <key>Udieresis</key>
    <string>U_dieresis.glif</string>
    <key>Yacute</key>
    <string>Y_acute.glif</string>
    <key>Thorn</key>
    <string>T_horn.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>agrave</key>
    <string>agrave.glif</string>
    <key>aacute</key>
    <string>aacute.glif</string>
    <key>acircumflex</key>
    <string>acircumflex.glif</string>
    <key>atilde</key>
    <string>atilde.glif</string>
    <key>adieresis</key>
    <string>adieresis.glif</string>
    <key>aring</key>
    <string>aring.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>ccedilla</key>
    <string>ccedilla.glif</string>
    <key>egrave</key>
    <string>egrave.glif</string>
    <key>eacute</key>
    <string>eacute.glif</string>
    <key>ecircumflex</key>
    <string>ecircumflex.glif</string>
    <key>edieresis</key>
    <string>edieresis.glif</string>
    <key>igrave</key>
    <string>igrave.glif</string>
    <key>iacute</key>
    <string>iacute.glif</string>
    <key>icircumflex</key>
    <string>icircumflex.glif</string>
    <key>idieresis</key>
    <string>idieresis.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>ntilde</key>
    <string>ntilde.glif</string>
    <key>ograve</key>
    <string>ograve.glif</string>
    <key>oacute</key>
    <string>oacute.glif</string>
    <key>ocircumflex</key>
    <string>ocircumflex.glif</string>
    <key>otilde</key>
    <string>otilde.glif</string>
    <key>odieresis</key>
    <string>odieresis.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>ugrave</key>
    <string>ugrave.glif</string>
    <key>uacute</key>
    <string>uacute.glif</string>
    <key>ucircumflex</key>
    <string>ucircumflex.glif</string>
    <key>udieresis</key>
    <string>udieresis.glif</string>
    <key>yacute</key>
    <string>yacute.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>ydieresis</key>
    <string>ydieresis.glif</string>
    <key>dotlessi</key>
    <string>dotlessi.glif</string>
    <key>Lslash</key>
    <string>L_slash.glif</string>
    <key>lslash</key>
    <string>lslash.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>Scaron</key>
    <string>S_caron.glif</string>
    <key>scaron</key>
    <string>scaron.glif</string>
    <key>Ydieresis</key>
    <string>Y_dieresis.glif</string>
    <key>Zcaron</key>
    <string>Z_caron.glif</string>
    <key>zcaron</key>
    <string>zcaron.glif</string>
    <key>florin</key>
    <string>florin.glif</string>
    <key>uni0237</key>
    <string>uni0237.glif</string>
    <key>circumflex</key>
    <string>circumflex.glif</string>
    <key>caron</key>
    <string>caron.glif</string>
    <key>breve</key>
    <string>breve.glif</string>
    <key>dotaccent</key>
    <string>dotaccent.glif</string>
    <key>ring</key>
    <string>ring.glif</string>
    <key>ogonek</key>
    <string>ogonek.glif</string>
    <key>tilde</key>
    <string>tilde.glif</string>
    <key>hungarumlaut</key>
    <string>hungarumlaut.glif</string>
    <key>gravecomb</key>
    <string>gravecomb.glif</string>
    <key>acutecomb</key>
    <string>acutecomb.glif</string>
    <key>uni0302</key>
    <string>uni0302.glif</string>
    <key>tildecomb</key>
    <string>tildecomb.glif</string>
    <key>uni0304</key>
    <string>uni0304.glif</string>
    <key>uni0306</key>
    <string>uni0306.glif</string>
    <key>uni0307</key>
    <string>uni0307.glif</string>
    <key>uni0308</key>
    <string>uni0308.glif</string>
    <key>uni030A</key>
    <string>uni030A_.glif</string>
    <key>uni030B</key>
    <string>uni030B_.glif</string>
    <key>uni030C</key>
    <string>uni030C_.glif</string>
    <key>uni0400</key>
    <string>uni0400.glif</string>
    <key>uni040D</key>
    <string>uni040D_.glif</string>
    <key>uni0450</key>
    <string>uni0450.glif</string>
    <key>uni045D</key>
    <string>uni045D_.glif</string>
    <key>uni0462</key>
    <string>uni0462.glif</string>
    <key>uni0463</key>
    <string>uni0463.glif</string>
    <key>uni0490</key>
    <string>uni0490.glif</string>
    <key>uni0491</key>
    <string>uni0491.glif</string>
    <key>uni2000</key>
    <string>uni2000.glif</string>
    <key>uni2001</key>
    <string>uni2001.glif</string>
    <key>uni2002</key>
    <string>uni2002.glif</string>
    <key>uni2003</key>
    <string>uni2003.glif</string>
    <key>uni2004</key>
    <string>uni2004.glif</string>
    <key>uni2005</key>
    <string>uni2005.glif</string>
    <key>uni2006</key>
    <string>uni2006.glif</string>
    <key>uni2007</key>
    <string>uni2007.glif</string>
    <key>uni2008</key>
    <string>uni2008.glif</string>
    <key>uni2009</key>
    <string>uni2009.glif</string>
    <key>uni200A</key>
    <string>uni200A_.glif</string>
    <key>uni200B</key>
    <string>uni200B_.glif</string>
    <key>uni200C</key>
    <string>uni200C_.glif</string>
    <key>uni200D</key>
    <string>uni200D_.glif</string>
    <key>uni2010</key>
    <string>uni2010.glif</string>
    <key>uni2011</key>
    <string>uni2011.glif</string>
    <key>figuredash</key>
    <string>figuredash.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>uni2015</key>
    <string>uni2015.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quotesinglbase</key>
    <string>quotesinglbase.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>quotedblbase</key>
    <string>quotedblbase.glif</string>
    <key>dagger</key>
    <string>dagger.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>bullet</key>
    <string>bullet.glif</string>
    <key>ellipsis</key>
    <string>ellipsis.glif</string>
    <key>perthousand</key>
    <string>perthousand.glif</string>
    <key>guilsinglleft</key>
    <string>guilsinglleft.glif</string>
    <key>guilsinglright</key>
    <string>guilsinglright.glif</string>
    <key>fraction</key>
    <string>fraction.glif</string>
    <key>Euro</key>
    <string>E_uro.glif</string>
    <key>uni20BD</key>
    <string>uni20B_D_.glif</string>
    <key>trademark</key>
    <string>trademark.glif</string>
    <key>minus</key>
    <string>minus.glif</string>
    <key>zero.fitted</key>
    <string>zero.fitted.glif</string>
    <key>one.fitted</key>
    <string>one.fitted.glif</string>
    <key>two.fitted</key>
    <string>two.fitted.glif</string>
    <key>three.fitted</key>
    <string>three.fitted.glif</string>
    <key>four.fitted</key>
    <string>four.fitted.glif</string>
    <key>five.fitted</key>
    <string>five.fitted.glif</string>
    <key>six.fitted</key>
    <string>six.fitted.glif</string>
    <key>seven.fitted</key>
    <string>seven.fitted.glif</string>
    <key>eight.fitted</key>
    <string>eight.fitted.glif</string>
    <key>nine.fitted</key>
    <string>nine.fitted.glif</string>
    <key>breve.cyrlc</key>
    <string>breve.cyrlc.glif</string>
    <key>breve.cyruc</key>
    <string>breve.cyruc.glif</string>
    <key>uni0306.cyr</key>
    <string>uni0306.cyr.glif</string>
    <key>i.dotless</key>
    <string>i.dotless.glif</string>
    <key>j.dotless</key>
    <string>j.dotless.glif</string>
    <key>uni0456.dotless</key>
    <string>uni0456.dotless.glif</string>
    <key>uni0458.dotless</key>
    <string>uni0458.dotless.glif</string>
    <key>uni0431.serbian</key>
    <string>uni0431.serbian.glif</string>
    <key>f_f</key>
    <string>f_f.glif</string>
    <key>f_i</key>
    <string>f_i.glif</string>
    <key>f_l</key>
    <string>f_l.glif</string>
    <key>f_f_i</key>
    <string>f_f_i.glif</string>
    <key>f_f_l</key>
    <string>f_f_l.glif</string>
    <key>uni0432.loclBGR</key>
    <string>uni0432.loclB_G_R_.glif</string>
    <key>uni0433.loclBGR</key>
    <string>uni0433.loclB_G_R_.glif</string>
    <key>uni0434.loclBGR</key>
    <string>uni0434.loclB_G_R_.glif</string>
    <key>uni0436.loclBGR</key>
    <string>uni0436.loclB_G_R_.glif</string>
    <key>uni0437.loclBGR</key>
    <string>uni0437.loclB_G_R_.glif</string>
    <key>uni0438.loclBGR</key>
    <string>uni0438.loclB_G_R_.glif</string>
    <key>uni0439.loclBGR</key>
    <string>uni0439.loclB_G_R_.glif</string>
    <key>uni043A.loclBGR</key>
    <string>uni043A_.loclB_G_R_.glif</string>
    <key>uni043B.loclBGR</key>
    <string>uni043B_.loclB_G_R_.glif</string>
    <key>uni043F.loclBGR</key>
    <string>uni043F_.loclB_G_R_.glif</string>
    <key>uni0442.loclBGR</key>
    <string>uni0442.loclB_G_R_.glif</string>
    <key>uni045D.loclBGR</key>
    <string>uni045D_.loclB_G_R_.glif</string>
    <key>uni044E.loclBGR</key>
    <string>uni044E_.loclB_G_R_.glif</string>
    <key>uni044A.loclBGR</key>
    <string>uni044A_.loclB_G_R_.glif</string>
    <key>uni044B.loclBGR</key>
    <string>uni044B_.loclB_G_R_.glif</string>
    <key>uni044C.loclBGR</key>
    <string>uni044C_.loclB_G_R_.glif</string>
    <key>uni0414.loclBGR</key>
    <string>uni0414.loclB_G_R_.glif</string>
    <key>uni041B.loclBGR</key>
    <string>uni041B_.loclB_G_R_.glif</string>
    <key>uni0448.loclBGR</key>
    <string>uni0448.loclB_G_R_.glif</string>
    <key>uni0446.loclBGR</key>
    <string>uni0446.loclB_G_R_.glif</string>
    <key>uni0449.loclBGR</key>
    <string>uni0449.loclB_G_R_.glif</string>
    <key>uni0431.loclBGR</key>
    <string>uni0431.loclB_G_R_.glif</string>
    <key>uni0416.loclBGR</key>
    <string>uni0416.loclB_G_R_.glif</string>
    <key>uni041A.loclBGR</key>
    <string>uni041A_.loclB_G_R_.glif</string>
    <key>uni042F.loclBGR</key>
    <string>uni042F_.loclB_G_R_.glif</string>
    <key>uni044F.loclBGR</key>
    <string>uni044F_.loclB_G_R_.glif</string>
    <key>uni046B</key>
    <string>uni046B_.glif</string>
    <key>uni0466</key>
    <string>uni0466.glif</string>
    <key>uni0467</key>
    <string>uni0467.glif</string>
    <key>uni046A</key>
    <string>uni046A_.glif</string>
    <key>uni0468</key>
    <string>uni0468.glif</string>
    <key>uni046C</key>
    <string>uni046C_.glif</string>
    <key>uni0469</key>
    <string>uni0469.glif</string>
    <key>uni046D</key>
    <string>uni046D_.glif</string>
    <key>uni0478</key>
    <string>uni0478.glif</string>
    <key>uni0479</key>
    <string>uni0479.glif</string>
    <key>uni0464</key>
    <string>uni0464.glif</string>
    <key>uni0465</key>
    <string>uni0465.glif</string>
    <key>uni0483</key>
    <string>uni0483.glif</string>
    <key>uni0474</key>
    <string>uni0474.glif</string>
    <key>uni0475</key>
    <string>uni0475.glif</string>
    <key>uni030F</key>
    <string>uni030F_.glif</string>
    <key>uni0476</key>
    <string>uni0476.glif</string>
    <key>uni0477</key>
    <string>uni0477.glif</string>
    <key>uni0460</key>
    <string>uni0460.glif</string>
    <key>uni0461</key>
    <string>uni0461.glif</string>
    <key>uni0472</key>
    <string>uni0472.glif</string>
    <key>uni0473</key>
    <string>uni0473.glif</string>
    <key>uni047E</key>
    <string>uni047E_.glif</string>
    <key>uni047F</key>
    <string>uni047F_.glif</string>
    <key>uni047A</key>
    <string>uni047A_.glif</string>
    <key>uni047B</key>
    <string>uni047B_.glif</string>
    <key>uni046E</key>
    <string>uni046E_.glif</string>
    <key>uni046F</key>
    <string>uni046F_.glif</string>
    <key>uni0470</key>
    <string>uni0470.glif</string>
    <key>uni0471</key>
    <string>uni0471.glif</string>
    <key>uni047C</key>
    <string>uni047C_.glif</string>
    <key>uni047D</key>
    <string>uni047D_.glif</string>
    <key>uni0486</key>
    <string>uni0486.glif</string>
    <key>uni0485</key>
    <string>uni0485.glif</string>
    <key>uni0484</key>
    <string>uni0484.glif</string>
    <key>Ldot</key>
    <string>L_dot.glif</string>
    <key>ldot</key>
    <string>ldot.glif</string>
  </dict>
</plist>
